@keyframes moveStars {
  from {background-position:0 0;}
  to {background-position:-99999px 99999px;}
}

.stars {
  overflow: hidden;
  background-size: auto;
  width: 100%;
  height: 100%;
  background-image: url('stars.png');
  animation: moveStars 200s linear infinite;
}
